<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.insidesolution.dentist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="co.insidesolution.dentist.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.insidesolution.dentist.Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.Doctors"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.News"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.Therapy"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.NewReservationMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.MyReservation"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.insidesolution.dentist.CreateAccount"
            android:screenOrientation="portrait" />
        <activity android:name="co.insidesolution.dentist.ForgetPassword" />
        <activity android:name="co.insidesolution.dentist.ModifyData" />
        <activity android:name="co.insidesolution.dentist.ChangePinActivity" />
        <activity android:name="co.insidesolution.dentist.NewReservationDetial" />
        <activity android:name="co.insidesolution.dentist.MakeResrvationDiloag"
            android:theme="@style/Transparent">

        </activity>
    </application>

</manifest>